@import './styles/variables';

.button {
  // text-transform: uppercase;
  font-weight: 700;
  border: 0 !important;
  background-color: $juicyGreen;
  color: $text-color-primary!important;
  &--red {
    background-color: #ff5757 !important;
    color: $text-color-secondary!important;
  }
}

.basicGradient {
  background-image: $linear-gradient-full;
}
