@import './styles/variables';

.button {
  // text-transform: uppercase;
  font-weight: 700;
  border: 0 !important;
  background-color: $juicyGreen;
  color: $text-color-primary!important;
  &--red {
    background-color: #ff5757 !important;
    color: $text-color-secondary!important;
  }
}

.gradient__text {
  background-image: $linear-gradient-full;
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.motshe {
  &-font {
  font-family: $font-motshe;
  }
  &-reverse {
    transform: scaleX(-1);
    display: inline-block;
  }
}

